<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>408019852188-6n92qalv8o32pk5g5rv31lmudjfaav59.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.408019852188-6n92qalv8o32pk5g5rv31lmudjfaav59</string>
	<key>API_KEY</key>
	<string>AIzaSyC_35lCxtb7ILHIBN5xE9M0OtU_pY9_p_o</string>
	<key>GCM_SENDER_ID</key>
	<string>408019852188</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dbeniteslopes.onboarding</string>
	<key>PROJECT_ID</key>
	<string>dbl-onboarding</string>
	<key>STORAGE_BUCKET</key>
	<string>dbl-onboarding.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:408019852188:ios:cc96d6f80b035f382d4659</string>
	<key>DATABASE_URL</key>
	<string>https://dbl-onboarding.firebaseio.com</string>
</dict>
</plist>